
input:focus,
button:focus,
select:focus {
  outline: none;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.normal-bold-text {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.normal-text {
  color: black;
  font-size: 16px;
}
.dispBlock {
  display: block;
}
.cgreen {
  color: #3e8e41;
}
.cyellow {
  color: yellow;
}
.cred {
  color: red;
}
.cwhite {
  color: white;
}
.b4 {
  border-radius: 4px;
}
.b8 {
  border-radius: 8px;
}
.b12 {
  border-radius: 12px;
}
.pad4 {
  padding: 4px;
}
.pad8 {
  padding: 8px;
}
.pad10 {
  padding: 10px;
}
.pad12 {
  padding: 12px;
}
.top-bottom-pad8 {
  padding: 8px 0px;
}
.right-left-pad8 {
  padding: 0px 8px;
}
.right-left-pad12 {
  padding: 0px 20px;
}
.mar4 {
  margin: 4px;
}
.mar8 {
  margin: 8px;
}
.mar10 {
  margin: 10px;
}
.top-bottom-mar8 {
  margin: 8px 0px;
}
.top-bottom-mar12 {
  margin: 12px 0px;
}
.right-left-mar8 {
  margin: 0px 8px;
}
.top-mar8 {
  margin-top: 8px;
}
.bottom-mar8 {
  margin-bottom: 8px;
}

.tooltip-title {
  padding: 10px 10px;
  background-color: white;
  color: black;
  border-radius: 12px;
}
.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
  /* border: 2px solid black; */
  color:black;
}
.icon-btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px black;
}
.bg-light {
  background-color: white
}

.green-btn {
  padding: 8px 12px;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid green;
}
.green-btn:hover {
  cursor: pointer;
  background-color: rgb(245, 255, 245);
  /* color: white; */
}
.align-center {
  text-align: center;
}
.align-right{
  text-align: right;
}

.text-input {
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  color: black;
}
.dropdown {
  border-radius: 20px;
  width: 100%;
  border: 1px solid black;
  font-size: 14px;
}
.card {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.root{
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  width: 33%;
  background-color: rgb(45, 45, 45);
}
.header__right {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-right: 50px;
  width: 33%;
}
.header__left__name {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.header__left__date {
  padding: 0px 20px;
  color: white;
}

.header__right__search-input {
  flex:2;
}
.todo-app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
  scrollbar-color: white;
}
.todo-app-body__sidebar {
  flex:1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-right: 1px solid white;
  margin-right: 4px;
  overflow-y: scroll;
}


.filter-row {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.filter-btns{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.check-box-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-box {
  height: 20px;
  width: 20px;
}

.create-todo-text {
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  align-self: stretch;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
  padding: 30px 0px;
  margin-bottom: 8px;
}

.todo-add-btn {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: black;
  /* box-shadow: 0px 0px 4px 2px white; */
}
.percentage-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-weight: bold;
  font-size: 30px;
  box-shadow: 0px 0px 4px 2px gray;
}
.percetage-text {
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.ratio-text {
  font-size: 12px;
  color: white;
}
.todo-app-body__todo-panel {
  flex:4;
  align-self: stretch;
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  overflow-y: scroll;
}
.todo-app-body__todo-panel::-webkit-scrollbar{
  background-color: black;
  width: 4px;
}
.todo-app-body__todo-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px black;
  border-radius: 4px;
}
.todo-app-body__todo-panel::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}
.todo-app-body__todo-panel::-webkit-scrollbar-corner{
  background: none;
}

.bulk-action-btns {
  display: flex;
  flex-direction: column;
}
.bulk-actions-position{
  position: absolute;
  top: 40%;
  left: 21%;
}

.todo {
  /* width: 18%; */
  flex:0 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(220, 220, 220);
  padding-bottom: 20px;
}
.todo:hover{
  transition: 200ms;
  box-shadow : 0px 0px  4px 6px grey;
}
.todo .alter-visibility {
  visibility: hidden;
}
.todo:hover .alter-visibility {
  visibility: visible;
}
.todo__topbar-btns {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__topbar-btns__extra-style {
  width: 40px;
  height: 40px;
  margin: 0px;
  box-shadow: 0px 0px 1px 1px gray;
  background-color: black;
}

.todo__preferences-icon {
  background-color: black;
  height: 40px;
  width:40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  font-size: 25px;
}
.todo__toggle-complete-btn {
  border-radius: 20px;
}
.white-circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}
.blue-circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: blue;
  border: 1px solid black;
  cursor: pointer;
}

.reduced-opacity {
  opacity: 0.6;
}
.original-opacity {
  opacity: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh;
  overflow: auto;
  background-color: rgba(50, 50, 50, 0.8);
}
.modal__modal-content {
  background-color: white;
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.modal__modal-content__close-btn{ 
  align-self: flex-end;
  font-size: 24px;
  color: rgb(180, 180, 180); 
  cursor: pointer;
}
.modal__modal-content__close-btn:hover{
  color: black;
}

.snackbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 2;
  bottom: 0px;
  left: 50px;
  right: 50px;
  font-size: 17px;
}
.filter-btn-selected{
  background-color : black;
  color: white;
  /* box-shadow : 0px 0px 4px 2px white; */
}
.form{
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
